body{
    background-color: lightgrey;
    margin: auto;
    margin-left: 1%;
}

a:link{
    color: red;
    text-decoration: none;
    margin-right: 1%;
}

a:visited{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color: green;
    text-decoration: underline;
}

Form{
    margin-left: 2%;
}

.NavBar{
    margin: 1%;
}